<%= form_for(@address_card) do |f| %>
  <% if @address_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_card.errors.count, "error") %> prohibited this address_card from being saved:</h2>

      <ul>
      <% @address_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
